
doctype html
html
    head
        style
            include style.css
    body
        div
            | HELLO CHAT
            br
            | Верста буде, але колись
        div
            block content
        div.footer
            | Best regards
            br
            a(href=frontendURL) DEC course Node.js
