p Hello dear #{userName}. Dont worry! Everyone forgot something
| YOu password in safe, but if you want to change it please click here
a(href=frontendURL + `/pass?token=`+ token)  Cick HERE

p If it was not you, inform us please.
